{% extends 'base.html.twig' %}

{% block title %}Super Héros{% endblock %}

{% block body %}
    <div class="w-3/4 p-5 mx-auto bg-white h-3/4">
        <div class="flex flex-col items-center justify-between">
            <h1 class="mb-2 text-4xl font-bold">Super Héros</h1>

            <a class="p-2 border border-black rounded" href="{{ path('app_super_heros_new') }}">Ajouter un héros</a>

            <div class="">
                {# {{ include('super_hero/_form.html.twig') }} #}
                {# <a href="{{ path('app_super_heros_available') }}">Disponible</a> #}
            </div>

                {# <pre>
                    {{ dump(super_heroes) }}
                </pre> #}

                <table class="w-3/4 border border-collapse border-slate-500">
                    <thead>
                        <tr>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'ID', 'sp.id') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Nom', 'sp.nom') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Alter Ego', 'sp.alterEgo') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Disponible', 'sp.estDisponible') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Niveau d\'énergie', 'sp.niveauEnergie') }}</th>
                            <th class="border border-slate-600">Biographie</th>
                            <th class="border border-slate-600">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for super_hero in super_heroes %}
                        <tr class="border">
                            <td>{{ super_hero.id }}</td>
                            <td>{{ super_hero.nom }}</td>
                            <td>{{ super_hero.alterEgo }}</td>
                            <td>{{ super_hero.estDisponible ? 'Oui' : 'Non' }}</td>
                            <td>{{ super_hero.niveauEnergie }}</td>
                            <td>{{ super_hero.biographie }}</td>
                            <td>
                                <a href="{{ path('app_super_heros_show', {'id': super_hero.id}) }}">Afficher</a>
                                <a href="{{ path('app_super_heros_edit', {'id': super_hero.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Aucun héros disponible</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(super_heroes) }}

                <br><br>
                <hr>
                <br><br>





                {# <table class="w-3/4 border">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Alter Ego</th>
                            <th>Disponible</th>
                            <th>Niveau d'énergie</th>
                            <th>Biographie</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for super_heross in super_heroes_filter %}
                        <tr class="border">
                            <td>{{ super_heross.id }}</td>
                            <td>{{ super_heross.nom }}</td>
                            <td>{{ super_heross.alterEgo }}</td>
                            <td>{{ super_heross.estDisponible ? 'Oui' : 'Non' }}</td>
                            <td>{{ super_heross.niveauEnergie }}</td>
                            <td>{{ super_heross.biographie }}</td>
                            <td>
                                <a href="{{ path('app_super_heros_show', {'id': super_heross.id}) }}">Afficher</a>
                                <a href="{{ path('app_super_heros_edit', {'id': super_heross.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Aucun héros disponible</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> #}
        </div>
    </div>
{% endblock %}
