{% extends 'base.html.twig' %}
{% import "macro/bouton.twig" as btn %}

{% block title %}Super Héros{% endblock %}

{% block body %}
    <div class="w-full p-5 mx-auto h-3/4">
        <div class="flex justify-between w-full mb-1">
            <h1 class="mb-2 text-4xl font-bold">Super Héros</h1>
            {# <a class="p-2 border border-black rounded" href="{{ path('app_super_heros_new') }}">Ajouter un héros</a> #}
            {{ btn.ajoutData(href: path('app_super_heros_new'), label: 'Ajouter un héros') }}
        </div>
        
        <div class="flex items-center justify-between h-full">

            <div class="flex flex-col w-1/4 h-full px-2 py-3 m-1 border border-fuchsia-500">
                {{ include('super_hero/_filtre_form.html.twig') }}
            </div>

            <div class="flex flex-col items-center w-3/4 p-2">
                <table class="w-full text-center border-collapse order border-slate-500">
                    <thead>
                        <tr>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'ID', 'sp.id') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Nom', 'sp.nom') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Alter Ego', 'sp.alterEgo') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Disponible', 'sp.estDisponible') }}</th>
                            <th class="border border-slate-600">{{ knp_pagination_sortable(super_heroes, 'Niveau d\'énergie', 'sp.niveauEnergie') }}</th>
                            <th class="border border-slate-600">Biographie</th>
                            <th class="border border-slate-600">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for super_hero in super_heroes %}
                        <tr class="border">
                            <td>{{ super_hero.id }}</td>
                            <td>{{ super_hero.nom }}</td>
                            <td>{{ super_hero.alterEgo }}</td>
                            <td>{{ super_hero.estDisponible ? 'Oui' : 'Non' }}</td>
                            <td>{{ super_hero.niveauEnergie }}</td>
                            <td>{{ super_hero.biographie }}</td>
                            <td>
                                <a href="{{ path('app_super_heros_show', {'id': super_hero.id}) }}">Afficher</a>
                                <a href="{{ path('app_super_heros_edit', {'id': super_hero.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Aucun héros disponible</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(super_heroes) }}
            </div>
        </div>
    </div>
{% endblock %}
