{% extends 'base.html.twig' %}
{% import "macro/bouton.twig" as btn %}

{% block title %}{{ super_hero.nom|capitalize }}{% endblock %}

{% block body %}
    <div class="w-auto p-5 mx-auto md:w-4/5 h-3/4">
        <div class="flex flex-col w-full my-2 md:flex-row md:justify-between">
            <h1 class="mb-2 text-4xl font-bold">{{ super_hero.nom|capitalize }}</h1>
            {{ btn.retour(path('app_super_heros_index')) }}
        </div>

        <div class="flex flex-col items-center w-full md:flex-row ">
            <div class="w-full px-2 py-1 bg-red-600 border md:w-1/3 min-h-52">
                {% if super_hero.nomImage is not null  %}
                    <img class="w-full h-full" src="{{ vich_uploader_asset(super_hero) }}" alt="{{ super_hero.nomImage }}">
                {% else %}
                    Aucune image disponible
                {% endif %}
            
            </div>
                
            <div class="w-full min-h-full px-3 md:w-2/3">
                <div class="w-full my-1 text-lg">
                    <h3 class="mr-2 underline ">Nom :</h3>
                    <p class="text-lg">{{ super_hero.nom|capitalize }}</p>
                </div>
                <div class="w-full my-1 text-lg">
                    <h3 class="mr-2 underline ">Alter ego :</h3>
                    <p class="text-lg">{{ super_hero.alterEgo|capitalize }}</p>
                </div>
                <div class="w-full my-1 text-lg">
                    <h3 class="mr-2 underline ">Disponible :</h3>
                    <p class="text-lg">{{ super_hero.estDisponible ? 'Oui' : 'Non' }}</p>
                </div>
                <div class="w-full my-1 text-lg">
                    <h3 class="mr-2 underline ">Niveau d'énergie :</h3>
                    <p class="text-lg">{{ super_hero.niveauEnergie }}</p>
                </div>
                
                <div class="flex flex-col p-2 my-3 ">
                    <h3 class="underline ">Biographie :</h3>
                    <div class="p-1 my-1 border rounded min-h-28">
                        <p class="text-lg">{{ super_hero.biographie ? super_hero.biographie : "biographie non disponible" }}</p>
                    </div>
                </div>
                    
                <div class="flex flex-col p-2 my-3 ">
                    <h3 class="underline ">Pouvoirs :</h3>
                    <div class="p-1 my-1 border rounded min-h-28">
                        <ul>
                            {% for pouvoirs in super_hero.Pouvoir %}
                                <li>
                                    <span class="font-medium">- {{ pouvoirs.nom|capitalize }}</span>
                                </li>
                            {% else %}
                                Aucun pouvoirs.
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                    
                {# --EQUIPE-- #}
                <div class="flex flex-col p-2 my-3 ">
                    <h3 class="underline ">Équipe :</h3>
                    <div class="">
                    {% for equipes in super_hero.equipes %}
                        <span class="underline"><a href="{{ path('app_equipe_show', {'id': equipes.id}) }}">{{ equipes.nom|capitalize }}</a></span>
                        <h3 class="ml-4 underline">Mission :</h3>
                        {% for mission in equipes.missions %}
                            <div class="ml-4">
                                <h4 class="">- {{ mission.titre }}</h4>
                                <div class="ml-2">
                                    <p>Description : {{ mission.description }}</p>
                                    <p>Localisation : {{ mission.localisation }}</p>
                                    <p>Statut : {{ mission.statut.value|capitalize }}</p>
                                    <p>Niveau de danger : {{ mission.niveauDanger }}</p>
                                    <p>Debut : {{ mission.debut|date("d/m/Y H:i") }}</p>
                                    <p>Fin : {{ mission.fin|date("d/m/Y H:i") }}</p>
                                </div>
                            </div>
                        {% else %}                                
                            <div class="ml-2">Aucune missions disponible</div>
                        {% endfor %}
                        
                    {% else %}
                        <p>Liée à aucune equipe</p>
                    {% endfor %}                            
                    </div>
                </div>
                    {# ---------- #}
            </div>
        </div>

        <hr class="w-11/12 mx-auto my-3 border">

        <div class="w-2/5 mx-auto my-3">
            
            {% if chart is not null %}
                {{ render_chart(chart) }}
            {% endif %}
            
            
        </div>
            
        {{ btn.modifier(path('app_super_heros_edit', {'id': super_hero.id})) }}
    
        {{ include('super_hero/_delete_form.html.twig') }}
    </div>
{% endblock %}
