{% extends 'base.html.twig' %}
{% import "macro/bouton.twig" as btn %}

{% block title %}Super Pouvoir{% endblock %}

{% block body %}
        <div class="w-3/4 p-5 mx-auto bg-white h-3/4">
            <div class="flex flex-col items-center justify-between">                
                <h1 class="mb-2 text-4xl font-bold">Super Pouvoir</h1>
                
                {{ btn.ajoutData(href: path('app_super_pouvoir_new'), label: "Ajouter un nouveau pouvoir") }}

                <table class="w-3/4 border">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(super_pouvoirs, 'ID', 'sp.id') }}</th>
                            <th>{{ knp_pagination_sortable(super_pouvoirs, 'Nom', 'sp.nom') }}</th>
                            <th>Description</th>
                            <th>{{ knp_pagination_sortable(super_pouvoirs, 'Niveau', 'sp.niveau') }}</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for super_pouvoir in super_pouvoirs %}
                        <tr class="border">
                            <td>{{ super_pouvoir.id }}</td>
                            <td>{{ super_pouvoir.nom }}</td>
                            <td>{{ super_pouvoir.description }}</td>
                            <td>{{ super_pouvoir.niveau }}</td>
                            <td>
                                <a href="{{ path('app_super_pouvoir_show', {'id': super_pouvoir.id}) }}">show</a>
                                <a href="{{ path('app_super_pouvoir_edit', {'id': super_pouvoir.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun pouvoir disponible</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(super_pouvoirs) }}

            </div>
        </div>

{% endblock %}
