<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - SuperHero Agency</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-screen font-OldNewspaperTypes">

        <header class="bg-white">
            <nav class="flex items-center justify-between w-[92%] mx-auto">
                <div>
                    <a href="{{ path('app_home') }}">
                        <img class="w-16 cursor-pointer" src="https://cdn-icons-png.flaticon.com/512/5968/5968204.png" alt="...">
                    </a>
                </div>
                <div class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                    <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                        <li>
                            <a class="hover:text-gray-500" href="{{ path('app_super_heros_index') }}">Super Héros</a>
                        </li>
                        <li>
                            <a class="hover:text-gray-500" href="{{ path('app_super_heros_index') }}">Super Pouvoir</a>
                        </li>
                        <li>
                            <a class="hover:text-gray-500" href="{{ path('app_super_heros_index') }}">Équipes</a>
                        </li>
                        <li>
                            <a class="hover:text-gray-500" href="{{ path('app_super_heros_index') }}">Missions</a>
                        </li>
                    </ul>
                </div>
                <div class="flex items-center gap-6">
                    <a class="px-5 py-2 bg-[#a6c1ee] text-white rounded hover:bg-[#87acec]" href="{{ path('app_super_heros_index') }}">Connexion</a>
                    <ion-icon onclick="onToggleMenu(this)" name="menu-outline" class="text-3xl cursor-pointer md:hidden"></ion-icon>
                </div>
            </nav>
        </header>


        <main class="flex items-center w-full h-full">
        {% block body %}{% endblock %}
        </main>


        <script>
            const navLinks = document.querySelector('.nav-links')
            function onToggleMenu(e){
                e.name = e.name === 'menu-outline' ? 'close-outline' : 'menu-outline'
                if (navLinks.classList.contains('top-[-100%]')) {
                    navLinks.classList.replace('top-[-100%]', 'top-[8%]');
                } else {
                    navLinks.classList.replace('top-[8%]', 'top-[-100%]');
                }
            }
        </script>
        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
